<style>
   body {
      background-color: #1B2B38;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
   }

   /* Collapsible Item Container */
   .btnContainer {
      max-width: 360px;
      min-width: 360px;
      margin: 20px auto;
   }

   /* Header Style (Button Part) */
   .titreCollapse {
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      border-radius: 12px;
      margin: 10px 0;
      padding-top: 8px;
      height: 60px;
      color: white;
      display: flex;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      transition: background 0.3s ease;
   }

   .titreCollapse:hover {
      background: rgba(255, 255, 255, 0.1);
   }

   li {
      box-shadow: unset !important;
   }

   .collapsible {
      border: unset !important;
      box-shadow: none !important;
      padding: 20px 0;
   }

   .imgDroite {
      float: right !important;
      margin-right: 0 !important;
   }

   .imgLeft {
      margin-top: 3px;
      text-align: center;
      float: right;
   }

   .s10Right {
      padding-right: 0 !important;
      padding-left: 0 !important;
   }

   /* Collapsible Body (opened part) */
   .collapsible-body.text {
      text-align: left;
      width: 94% !important;
      margin: auto;
      color: #FFFFFF;
      background-color: #101B22;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      margin-top: -8px;
      padding: 1rem !important;
   }

   p {
      padding: 1rem 0 !important;
   }

   .btnRedirection {
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid white;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
   }

   .btnRedirection:hover {
      background-color: rgba(255, 255, 255, 0.1);
   }
</style>
